# Ignore virtual environments
.venv/

# Python bytecode
*.pyc
__pycache__/

# Log files
*.log

# Ignore environment variables
.env

# Ignore IDE settings (for VS Code)
.vscode/

# Ignore macOS system files
.DS_Store
